extends layout

block content

    h3 Remove project
    
    form(method="POST" action=data.project_id+'/delete/')
      div
        input#projectid(type='hidden',name=data.project_id, required='true',value=data.project_id)
        
      button(type='submit') Delete
